
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

.main {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
 text-align: center;
}
.btn-group-div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.btn-group{
  min-width: 280px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  align-self: center;
}
h2{
  background-color: #F2E0BA;
  padding: 1rem 0;
}
svg{
  height: 44px;
  width: 44px;
}
.single-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  display: inline-flex;
  white-space: wrap;
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem 1rem;
  outline: none;
  border-radius: 4px;
  max-width: 280px;
}
button > *{
  display: inline-block;
}
button > svg{
  width: 8%;
}
/* size */
.sm {
  font-size: 16px;
}
.md {
  font-size: 22px;
}
.lg {
  font-size: 30px;
}

/* type */

.solid {
  background-color: #213667;

}
.outlined {
  border: 2px solid #213667;
  color: #213667;
}
.flat {
  border: 1px solid transparent;
  color: #213667;
}